* {
    box-sizing: border-box;
}

body {
    max-width: 480px;
    text-align: left;
    padding: 0 16px;
    /* background-color: #26323D; */
    background-color: #2A2D34;
}

p {
    font-family: 'Radio Canada', sans-serif;
    font-size: 20px;
    line-height: 1.8;
    color: #F1F2F6;
    text-align: left; 
}

a {
    color: #30C5FF;
}

a:hover, a:visited:hover {
    opacity: 0.8;  
    color: #279AF1; 
}

a:visited {
    color: #746D75;
}
