* {
    box-sizing: border-box;
}

body {
    max-width: 480px;
    text-align: left;
    padding: 0 16px;
    /* background-color: #26323D; */
    background-color: #27187E;
}

p {
    font-family: 'Radio Canada', sans-serif;
    font-size: 20px;
    line-height: 1.8;
    color: #F1F2F6;
    text-align: left; 
}

a {
    color: #AEB8FE;
}

a:hover, a:visited:hover {
    opacity: 0.8;  
    color: #FF8600;
}

a:visited {
    color: #758BFD;
}