* {
    box-sizing: border-box;
}

body {
    max-width: 480px;
    text-align: left;
    padding: 0 16px;
    background-color: #26323D;
}

p {
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: #89C4E1;
    text-align: left; 
}

a {
    color: #90B9E8;
}

a:hover, a:visited:hover {
    opacity: 0.8;  
    color: #F58220;
}

a:visited {
    color: #4F8CC8;
}